@use "colors.scss" as *;
.dish{
  padding: 6px;
  h3{
    font: {
      size: 20px;
    }
  }
  .bi-info-circle-fill{
    color:$secondary;
  }
  .addBtn{
    background:$primary;
    color:$textWhite;
  }
  .addBtn:hover{
    background:$secondary;
    color:$textWhite;
  }
  .price{
    color:$secondary;
  }
}
