//if we want to use defined variables and colors we need to include them here with a '@use'
@use "variables" as *;
@use "colors" as *;
.section-header{
  .navbar{
    background-color: $primary;
  }

  .navbar-brand{
    * {
      
      line-height: 1.2;
      font:{
        weight: 400;
        style: normal;
        size: 1.5rem;
      }
    }
    
  }

  .nav-link {
    color: $textWhite;
    font-size: 1.2rem;
    margin: 0 20px;
    font:{
      weight: 400;
      style: normal;
    }
  }

  .nav-item:last-child .nav-link svg {
    width: 35px;
    height: 35px;
  }
  .cart {
    background-color: $header_basket_bg;
    
    border-radius: 12px; 
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
}