@use "variables" as *;
@use "colors" as *;

.section-header {
  width: 100%;
  overflow-x: hidden;

  .navbar {
    background-color: $primary;
    padding: 0.5rem 0;

    .container {
      max-width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .navbar-brand {
    * {
      line-height: 1.2;
      font: {
        weight: 400;
        style: normal;
        size: 1.5rem;
      }
    }
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    gap: 1.5rem; // Abstand zwischen Navigationseinträgen
  }

  .nav-link {
    color: $textWhite;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    font: {
      weight: 400;
      style: normal;
    }

 
  }

  // Warenkorb-Button
  .cart {
    background-color: $header_basket_bg;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;

    .nav-link {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0;
      color: $textWhite;

      i {
        font-size: 1.25rem;
      }
    }
  }

  // Icon für Benutzer
  .nav-item:last-child .nav-link {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    i.bi-person-circle {
      font-size: 1.75rem;
      color: $textWhite;
    }
  }
}
