/*
//here we define all our variables
p{
  font: {
    family: Inter;
    size: 16px;
    weight: 400;
  }
  //vertical-align: center;
  line-height: 28px;
}
h1{
  font: {
    family: Raleway;
  } 
}
h2{
  font: {
    family: Raleway;
  }
}
h3{
  font: {
    family: Raleway;
  }
}
h4{font: {
  family: Raleway;
} 
}
*/
