//here we define all our variables
p{
  font: {
    family: Inter;
  }
}
h1{
  font: {
    family: Raleway;
  } 
}
h2{
  font: {
    family: Raleway;
  }
}
h3{
  font: {
    family: Raleway;
  }
}
h4{font: {
  family: Raleway;
} }
