
//here we define all our variables
p{
  font: {
    family: Inter;
    size: 16px;
    weight: 400;
  }
  //vertical-align: center;
  line-height: 28px;
}
h1 {
  font: {
    family: Raleway;
    size: 28px;
    weight: 600;
  }
  line-height: 40px;
}

h2 {
  font: {
    family: Inter;
    size: 20px;
    weight: 700;
  }
  line-height: 32px;
}

h3 {
  font: {
    family: Inter;
    size: 16px;
    weight: 700;
  }
  line-height: 28px;
}

