@page "/mainDishesView"
@using Domain.Repositories.Interfaces
@using Model.Entites
@using WebGUI.Components.Components
@inject IRepositoryAsync<Dish> DishRepositoryAsync

<div class="d-flex justify-content-center my-5">
    <h4>Hauptspeisen</h4>
</div>

<div class="container container-lg">
        
    <div class="row g-4">
        
        @foreach (var dish in dishes)
        {
            <div class="col-4">
                <DishComponent  Dish="dish"></DishComponent>
            </div>
        }
    </div>
</div>















@code {

    List<Dish> dishes = new();
    protected override async Task OnInitializedAsync()
    {
        dishes = await DishRepositoryAsync.ReadAllAsync();
    }

}

