@using Model.Entites
<div class="card dish">
  
    <div class="row">
        <div class="col-9">
            <div class="row ps-3">
                <div class="col-12">
                    <div class="d-flex flex-row flex-wrap">
                        <h1>
                            @Dish.Name
                        </h1>
                        <p>
                            (@Dish.Code)
                        </p>
                    </div>
                </div>
                <div class="col-12 my-1">
                    @Dish.Description
                </div>
                <div class="col-12">
                    <p class="price">
                        @Dish.Price
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row h-100">
                <div class="col-12 d-flex justify-content-center pe-0">
                    <button class="addBtn btn">
                    +
                    </button>
                </div>
                <div class="col-12 d-flex justify-content-center mt-auto">
                    <i class="bi bi-info-circle-fill"></i>
                </div>
            </div>
        </div>
    </div>
    
    
    
    

</div>

@code {
    [Parameter] public Dish Dish { get; set; }
}