<section class="section-footer d-flex flex-column mt-5 justify-content-center align-content-center">
    <footer class="container-fluid">
        <div class=" text-center align-middle d-flex flex-wrap">
            <div class="col-lg-3 col-md-6 col-12">
                <h3><b>Impressum</b></h3>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <p>
                    Jo-han Chiu e.U.<br/>
                    Chinarestaurant TAI YANG<br/> 
                    Obere Landstraße 5<br/>
                    3500 Krems an der Donau, Niederösterreich<br/>
                    FN 531236f
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <p>
                    02732/84 183 <br/>
                    andreas_chiu@gmx.at
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <p>
                    Öffnungszeiten: <br/>
                    <b>DI-MI, FR-SO</b><br/>
                    11:00 - 14:30<br/>
                    17:00 - 21:00<br/>
                    <b>DO</b><br/>
                    11:00 - 14:30
                </p>
            </div>
        </div>
    </footer>
</section>

@code {
    
}