@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Model.Entites
@inject ProtectedSessionStorage ProtectedSessionStore
@inject IShoppingCartService CartService
@rendermode InteractiveServer
@implements IDisposable

<section class="section-header">
    <nav class="navbar navbar-expand-lg shadow">
        <div class="container px-5">
            <a class="navbar-brand" href="#">
                <img src="Resources/aa.png" alt="logo" style="width: 10rem;" class="rounded-3"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon ">
                    <i class="bi bi-list"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/starters">Vorspeisen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mainDishesView">Hauptspeisen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/extras">Beilagen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/desserts">Dessert</a>
                    </li>
                    <li class="nav-item cart">
                        <a class="nav-link" href="/order">
                            <i class="bi bi-cart3"></i>
                            
                        </a>
                    </li>
                    @_currentTotalPrice 

                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link" href=""> *@
                    @*         <i class="bi bi-person-circle"></i> *@
                    @*     </a> *@
                    @* *@
                    @* </li> *@
                       
                </ul>
            </div>
        </div>
    </nav>
</section>



    

@code {
    
    private decimal _currentTotalPrice;
    List<Dish> dishes = new List<Dish>();


    protected async override Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        CartService.OnCartUpdated += UpdateCartCount;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {


            dishes = (await ProtectedSessionStore.GetAsync<List<Dish>>("Dishes")).Value ?? null;
            if (dishes == null)
            {
                dishes = new List<Dish>();
            }
            ReloadPrice();

            
        }
    }

    private void ReloadPrice()
    { 
        foreach (Dish dish in dishes)
        {
            _currentTotalPrice += dish.Price;
        }

        CartService.TotalPrice = _currentTotalPrice;
        StateHasChanged();
    }
    private void UpdateCartCount()
    {
        _currentTotalPrice = CartService.TotalPrice;
        StateHasChanged();
    }

    public void Dispose() => CartService.OnCartUpdated -= UpdateCartCount;
    
}
