<h2>hello</h2>
@ItemCount

@code {

    [Parameter]
    public int ItemCount { get;set; }
    public event Action? OnChange;

    public void AddItem()
    {
        ItemCount++;
        NotifyStateChanged();
    }

    private void NotifyStateChanged() => OnChange?.Invoke();

}